<div class="document-search-container">
    <h2>Document Search</h2>
    <form (submit)="onSearch($event)">
        <div>
            <input type="text"
                   id="searchQuery"
                   placeholder="Search documents"
                   [(ngModel)]="searchQuery"
                   name="searchQuery">
            <button type="submit">Search</button>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Upload Date</th>
                <th>Title</th>
                <th>Number of Pages</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents">
                <td>{{ document.created_at | date }}</td>
                <td>{{ document.title }}</td>
                <td>{{ document.pages }}</td>
            </tr>
        </tbody>
    </table>
</div>